{% extends "Stromzeiten_app/base.html" %}
{% block content %}
    <h2>Verantwortungsbewusst mit grüner Energie!</h2>
    <h4>Aktuelle Uhrzeit und Datum: {% now "H:i, d.mY " %} </h4>

 <div id="container" style="width: 100%;">
    <canvas id="myChart"></canvas>
  </div>

    {% for row in data %}
        {% if row.Date|date:"H:i, d.mY " > curren %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
          <a class="mr-2" href="#">Total Solar Generation {{ row.Solar }} MW</a>
          <small class="text-muted">{{ row.Date|date:"G:i F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="#">Stromzeiten: {{ row.Quality_ratio }} %</a></h2>
        <p class="article-content"> Wind onshore generation: {{ row.Wind_Onshore }} MW </p>
      </div>
    </article>
        {% endif %}
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for row in data %}'{{ row.Date|date:"G:i" }}',{% endfor %}],
        datasets: [{
            label: '% der besten Stromzeit',
            data: [{% for row in data %}'{{ row.Quality_ratio }}',{% endfor %}],
            backgroundColor: [
                'rgba(240, 43, 34, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>


{% endblock content %}
