{% extends "Stromzeiten_app/base.html" %}
{% block content %}
    <div id="test" style="width: 100%;">
   <div class="container-fluid">
    <div class="example_row">
        <div class = row>
    <div class="col-sm-4">
        Uhrzeit: {% now "H:i" %}
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4" >
      <div class="float-right"> {% now "d.m.Y" %}</div>
    </div>
  </div>
        </div>
</div>

    <div class="jumbotron text-center" style="margin-bottom:10px">
 <h2>Verantwortungsbewusst mit grüner Energie!</h2>
  <p>Die Erzeugung erneuerbarer Energie deckt zwischen {{ data4.0.Date|date:"G:i"}} und {{ data4.1.Date|date:"G:i"}}  Uhr {{ data4.0.Renewable_Load_ratio}}% der Verbrauch ab</p>
  <p>Aktuelle Stromzeit: {% if data4.0.Quality_ratio > 80 %} Best {% elif data4.0.Quality_ratio < 80 and data4.0.Quality_ratio > 50 %} Gut {% else%} Schlecht  {% endif %}</p>

    </div>
    </div>

    <div class="container-fluid">
    <section class="bg-green text-center">
    <div class="row">
    <div class="col-md-6">
        Beste Stromzeiten heute:
        {% for row in data1 %}
    <p> {{ row.Date_start|date:"G:i"}} bis {{ row.Date_end|date:"G:i"}} </p>
         {% endfor %}
    </div>
        <div style="min-width: 20px"> </div>
    <div class="col-md-6">
         Beste Stromzeiten morgen:
     {% for row in data1_forecast %}
    <p> {{ row.Date_start|date:"G:i"}} bis {{ row.Date_end|date:"G:i"}} </p>
         {% endfor %}
    </div>
    </div>
    </section>
    <section class="bg-yellow text-center">
    <div class="row">
    <div class="col-md-6">
        Gute Stromzeiten heute:
        {% for row in data2 %}
    <p> {{ row.Date_start|date:"G:i"}} bis {{ row.Date_end|date:"G:i"}} </p>
         {% endfor %}
    </div>
    <div class="col-md-6">
         Gute Stromzeiten morgen:
     {% for row in data2_forecast %}
    <p> {{ row.Date_start|date:"G:i"}} bis {{ row.Date_end|date:"G:i"}} </p>
         {% endfor %}
    </div>
    </div>
    </section>
    <section class="bg-red text-center">
    <div class="row">
    <div class="col-md-6">
        Schlechte Stromzeiten heute:
        {% for row in data3 %}
    <p> {{ row.Date_start|date:"G:i"}} bis {{ row.Date_end|date:"G:i"}} </p>
         {% endfor %}
    </div>
    <div class="col-md-6">
        Schlechte Stromzeiten morgen:
     {% for row in data3_forecast %}
    <p> {{ row.Date_start|date:"G:i"}} bis {{ row.Date_end|date:"G:i"}} </p>
         {% endfor %}
    </div>
    </div>
    </section>
    </div>

     <div class="row">
         <div class="col-sm-6">
                <div id="container" style="width: 100%;">
            <canvas id="myChart"></canvas>
          </div>
         </div>
     <div class="col-sm-6">
                <div id="container" style="width: 100%;">
            <canvas id="myChart2"></canvas>
          </div>
         </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for row in data %}'{{ row.Date|date:"G:i" }}',{% endfor %}],
        datasets: [{
            label: '% der besten Stromzeit',
            data: [{% for row in data %}'{{ row.Quality_ratio }}',{% endfor %}],
            pointBackgroundColor: function(context) {
                var index = context.dataIndex;
                var value = context.dataset.data[index];
                if (value < 50) {
                    return '#ed8562'
                } else if (value  < 80 && value >= 50) {
                    return '#edd74b'
                } else {
                    return '#21ed61'
                }  
            },
            fill: false,
            pointRadius: 5,
            pointHoverRadius: 10,
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false,
                }
            }],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 24
                }
                //ticks: {
                    //minor: {'0:30', '1:00'}
                    //minor: {
                    //    fontSize: 30
                    //}
                //}
            }]
        }
    }
});
</script>

<script>
var ctx = document.getElementById('myChart2').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for row in data_forecast %}'{{ row.Date|date:"G:i" }}',{% endfor %}],
        datasets: [{
            label: '% der besten Stromzeit',
            data: [{% for row in data_forecast %}'{{ row.Quality_ratio }}',{% endfor %}],
            pointBackgroundColor: function(context) {
                var index = context.dataIndex;
                var value = context.dataset.data[index];
                if (value < 50) {
                    return '#ed8562'
                } else if (value  < 80 && value >= 50) {
                    return '#edd74b'
                } else {
                    return '#21ed61'
                }                
                
                    
            },
            fill: false,
            pointRadius: 5,
            pointHoverRadius: 10,
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false,
                }
            }],
            xAxes: [{
                ticks: {
                    autoSkip: true,
                    maxTicksLimit: 24
                }
                //ticks: {
                    //minor: {'0:30', '1:00'}
                    //minor: {
                    //    fontSize: 30
                    //}
                //}
            }]
        }
    }
});
</script>



{% endblock content %}
